:root {
    --cor-fundo: (35,87,245);
    --cor-fundo-dark: (32,0,161);
    --cor-fonte:var
}

* {
margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;
text-rendering: optimizeLegibility;
}    

.container {
    align-items: center;
    display: flex;
    flex-direction:column;
    background-color: var(--cor-fundo);
}

.tabuleiro {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 100%;
}

.grid {
    background-color: var(--cor-fundo-dark);
    border: 2px solid red;
    min-height: 100px;
    min-width: 100px;
    cursor: pointer;
}
#reinicia{
    color: var(--cor-fonte);
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: var(--cor-fundo-dark);
    cursor: pointer;
    margin: 10px;
    border: 2px solid red;
}